
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f6fc;
    text-align: center;
}


#top {
    color: darkblue;
    font-size: 36px;
    margin: 20px 0;
}


.section-title {
    color: darkgreen;
    background-color: #e6f2ff;
    padding: 10px;
    margin-top: 20px;
}


h2 {
    font-size: 26px;
    margin: 20px 0 10px;
}


ul,ol {
    margin: 15px auto;
    width: 250px;
    text-align: left;
}


dl {
    margin: 15px auto;
    width: 300px;
    text-align: left;
}

dt {
    font-weight: bold;
    color: #003366;
}

dd {
    margin-bottom: 10px;
}

a {
    display: inline-block;
    margin: 15px;
    color: white;
    background-color: #0077cc;
    padding: 8px 15px;
    text-decoration: none;
}

a:hover {
    background-color: #024576;
}
